body
{
background-color: #000088;
text-align: center;
}

html, body { height: 95%; }

#logoImg{
width: 307px;
height: 81px;
margin-top: 13px;
background-image: url(images/rpkit_logo.png);
background-repeat: no-repeat;
float:none;
}

#topBarImg{
width: 100%;
height: 13px;
background-image: url(images/small_blue_bar.png);
background-repeat: repeat-x;
float: none;
}

#outerFrame{
	width: 95%;
	height: 100%;
	background-color: #FFFFFF;
	margin: 0 auto;
	padding: 5px;
	text-align: left;
}

.authHeader
{
	background-color: #000055;
	color: #ffffff;
}

.authSelect
{
	background-color: #000055;
	color: #ffffff;
}