<p><h2>Please fill out the following information</h2></p>
<p> <form name ="input" action="./" method="put"><p>
<input type="hidden" name="action" value="newuser">
<input type="hidden" name="mode" value="adduser">
<br>Username &nbsp; <input type="text" name="username">
<br>Password (6 character min)&nbsp; <input type="password" name="password">
<br>Password (confirm) &nbsp; <input type="password" name="password2">
<br>E-mail &nbsp; <input type="text" name="email">
<br>E-mail (confirm) &nbsp; <input type="text" name="email2">
<br><input type="submit" value ="submit">
</form>
<br>

